{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="services-content">		
		<div class="g-grid">
			{% for sample in particle.samples %}
				<div {% if sample.id %}id="{{ sample.id|e }}"{% endif %}
					 class="g-block {{ sample.class }} {{ sample.variations }} services-item">
					<div class="g-content">
						<a href="{{ url(sample.link) }}">
							{% if sample.image %} <img src="{{ url(sample.image) }}"> {% endif %}
							<h4>{{ sample.title|raw }}</h4>
							{{ sample.subtitle|raw }}
							{{ sample.description|raw }}
						</a>	
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}