{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="sample-content">
		<div class="g-grid">
			<div class="g-block">
				<div class="g-content">
					{% if particle.image %}<img src="{{ url(particle.image) }}" class="logo-large" alt="{{ particle.headline|e }}" />{% endif %}
					{% if particle.headline %}<h2>{{ particle.headline|raw }}</h2>{% endif %}
					{% if particle.description %}<div class="sample-description">{{ particle.description|raw }}</div>{% endif %}
					{% if particle.linktext %}<p><a href="{{ particle.link|e }}" class="button">{{ particle.linktext|e }}</a></p>{% endif %}
				</div>
			</div>
		</div>
		{# Desktop #}
		<div class="g-grid hidden-phone testimonials">
			{% for sample in particle.samples %}
				{% if sample.position == 'right'  %}
					<div class="g-grid testimonial-item">
						<div class="g-block size-85 align-left">
							<blockquote>
								{{ sample.description|raw }}
							
							</blockquote>
							<cite>
								{{ sample.names|raw }}
							</cite>
						</div>
						<div class="g-block size-15">
							{% if sample.image %}<img src="{{ url(sample.image) }}" class="logo-large" alt="{{ sample.names|e }}" title="{{ sample.names|e }}" />{% endif %}							
						</div>
					</div>
				{% elseif sample.position == 'left' %}
					<div class="g-grid testimonial-item">
						<div class="g-block size-15">
							{% if sample.image %}<img src="{{ url(sample.image) }}" class="logo-large" alt="{{ sample.names|e }}" title="{{ sample.names|e }}" />{% endif %}
						</div>	
						<div class="g-block size-85 align-right">
							<blockquote>
								{{ sample.description|raw }}						
							</blockquote>
							<cite>
								{{ sample.names|raw }}
							</cite>							
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>

		{# Mobile #}
		<div class="visible-phone testimonials-phone">
			{% for sample in particle.samples %}
				<div class="g-grid testimonial-item">
				
					{% if sample.image %}<img src="{{ url(sample.image) }}" class="logo-large" alt="{{ sample.names|e }}" title="{{ sample.names|e }}" />{% endif %}

					<div>
						<blockquote>
							{{ sample.description|raw }}						
						</blockquote>
						<cite>
							{{ sample.names|raw }}
						</cite>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}