// Tag Pages
.events {
    .tagItemList {
        justify-content: space-evenly;
        .tagItemView {
            position: relative;
            div.tagItemImageBlock {
                float: unset;
                img {
                    @extend %listing-image;
                }
            }
            .tagItemTitle {
                @extend %listing-title;
            }
        }
    }
    
}

// items
#k2Container {
    margin-top: -4rem;
}