// Slideshow
.g-slideshow {
    position: relative;
    .uk-position-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    .top-angle {
        position: absolute; 
        width: 0;       
        border-width: 0 0 333px;
        border-style: solid solid solid dashed;
        z-index: 1;
        border-color: rgba(255,255,255,0) rgba(255,255,255,.5) !important;
        height: 378px; 
        border-right-width: 1920px;
        border-bottom-width: 300px;
        top: 0px;
        margin: 0;
        padding: 0;
    
    }
    
    .bottom-angle {
        position: absolute; 
        width: 0;       
        border-width: 0;
        border-style: solid solid solid dashed;
        z-index: 1;
        border-color: rgba(255,255,255,0) rgba(255,255,255,1) !important;
        height: 200px; 
        border-left-width: 1920px;
        border-top-width: 267px;
        bottom: 0px;
        margin: 0;
        padding: 0;
    }
}

// Homepage Services
.homepage-services {
    .g-grid {
        justify-content: center;
        
    }
    .services-content {
        .services-item {
            position: relative;
            .g-content {
                margin: .0938rem;
                h4 {
                    position: absolute;
                    top: 50%;
                    left: 35%;
                    font-size: 1.5rem;
                    color: #fff;
                    height: 100%;
                    transition: color 1s;
                }
                img{
                    transition: filter 1s;
                }
                &:hover {
                    h4 {
                        color: #000;
                    }
                    img {
                        filter: opacity(0.6);
                    }
                }
            }
            
        }
    }
}

// Events
.events {
    .eventItemsList {
        justify-content: space-evenly;
        .event-item {
            position: relative;
            h4 {
                @extend %listing-title;       
            }
            img {
                height: 350px;
                width: 100%;
                object-fit: cover;
            }
        }
    }    
}

/*** Testimonials ***/
// Desktop
.testimonials {
    width: 75%;
    margin: auto;
    .testimonial-item {
        margin-bottom: 2rem;
        width: 100%;
        img {
            border-radius: 50%;
            margin: 0 auto 1rem;
        }
        &:nth-child(even) {
            blockquote {
                padding-left: 1rem;
            }
        }
        &:nth-child(odd) {
            blockquote {
                padding-right: 1rem;
            }
        }
        blockquote {
            border: none;
            padding: 0;
            text-align: justify;
            margin-top: 1rem;
        }
        cite {
            font-style: oblique;
            &:before {
                content: unset;
            }
        }
    }    
}
// Mobile
.testimonials-phone {
    .testimonial-item {
        margin-bottom: 1rem;
        padding: 0 1rem;
        img {
            border-radius: 50%;
            margin: 1rem auto;
            display: block;
        }
        blockquote {
            border: none;
            padding: 0;
            text-align: justify;
            margin-top: 1rem;
        }
        cite {
            font-style: oblique;
            &:before {
                content: unset;
            }
        }
    }
}


// Contact Info
.contact-info {
    margin-top: 10rem;
    font-size: 105%;
}