// Variables

%listing-image {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

%listing-title {
    position: absolute;
    top: 50%;
    left: 30%;
    a {
        color: #fff;
        text-shadow: 1px 1px #000;
    } 
}
