/******** Custom scss file ********/
@import "dependencies";
@import "variables";
@import "k2";
@import "slideshow";
@import "modules";


body, html {
    height: 100%;
}
/****** Colors ******/


/****** Typography ******/
h1 {
    margin: 0.75rem 0;
}
p{
    margin: .75rem 0;
}

/****** Header ******/
#g-header {
    position: absolute;
    left: 0;
    right: 0;
    // background: rgba(255,255,255,0.5);
    .g-main-nav {
        .g-toplevel {
            justify-content: center;
            margin-top: 1rem;
            .gantry-logo {
                img {
                    width: 250px;
                    margin-top: -3rem;
                }
            }
        }

        .g-toplevel > li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).active {
            background: none;
        }
    }
}


/****** Navigation ******/
// #g-navigation {

// }


/****** Showcase ******/
#g-showcase {
    padding: 0;
    .g-container {
        width: 100%;
        .g-content {
            padding: 0;
            margin: 0;
            .g-slideshow .uk-overlay-panel {
                position: absolute;
                display: block;
                background: rgba(255,255,255,.5);
                height: 500px;
                // width: 100%;
                z-index: 1;
                transform: skewY(10deg);
                top: -9rem;
            }

        }
    }
}

/****** Feature ******/
#g-feature {
    padding: 0;
    position: relative;
    z-index: 1;
    margin-top: -3rem;
}

/****** Main ******/
#g-main {
    padding: 0;
    position: relative;
    z-index: 1;
}

/****** Subfeature ******/


/****** Footer ******/
#g-footer {
    background-image: url('/images/slider/footer.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    h4 {
        color: #fff;
        margin: 1rem 0 0;
    }
    a {
        color: #fff;
        &:hover {
            text-shadow: 2px 2px #000;
        }
        .fa {
            color: #000;
        }
    }
}


/****** Contact ******/




/****** Media Queries ******/


// Typical values are the default breakpoints set in Gantry 5
// but these values are user definable in style settings
// so that is why the code below uses mixins to get the actual 
// values from Gantry 5 template.

// commonly used media queries

//  typically min 75rem 
@include breakpoint(large-desktop-range) {

}
// typically range 60rem to 74.938rem 
@include breakpoint(desktop-range) {

}

// typically 48rem to 59.938rem
@include breakpoint(tablet-range) {

}
// typically 30rem to 47.938rem
@include breakpoint(large-mobile-range) {

}
// typically max 30rem
@include breakpoint(small-mobile-range) {

}

// Less commonly used media queries

// typically min 60rem
@include breakpoint(desktop-only) {

}
// typically min 48rem
@include breakpoint(no-mobile) {

}
// typically max 47.938 rem
@include breakpoint(mobile-only) {

    #g-feature {
        margin-top: -11rem;
    }
    #k2Container {
        margin-top: -11rem;
    }

    #g-mobilemenu-container {
        .g-toplevel {
            li:nth-child(3){
                .g-menu-item-container{
                    padding: 0;
                }
            }
        }
    }

}
// typically max 59.938rem
@include breakpoint(no-desktop) {

}

// Mobile Menu Breakpoint
@media only all and (max-width: $breakpoints-mobile-menu-breakpoint) { }

@import "nucleus/mixins/breakpoints"