/**
 * @version    3.7.x
 * @package    Simple Image Gallery Pro
 * @author     JoomlaWorks - https://www.joomlaworks.net
 * @copyright  Copyright (c) 2006 - 2019 JoomlaWorks Ltd. All rights reserved.
 * @license    https://www.joomlaworks.net/license
 */

/* --- Generic Styling --- */
a:active,a:focus { outline:0; }
table.contentpaneopen { width:100%; }
li.sigProClear { clear:both; float:none!important; height:0!important; line-height:0!important; border:none!important; background:none!important; width:auto; margin:0!important; padding:0!important; }

/* Container */
ul.sigProSleek { margin:8px auto!important; padding:8px 0!important; list-style:none; clear:both; overflow:hidden; }
	ul.sigProSleek.singleThumbGallery { margin:0!important; padding:8px 0!important; list-style:none; float:left;  }

/* Thumbnail */
ul.sigProSleek li.sigProThumb { float:left; background:none!important; margin:2px; padding:0; }
ul.sigProSleek li.sigProThumb span.sigProLinkOuterWrapper { }
ul.sigProSleek li.sigProThumb span.sigProLinkWrapper { }
ul.sigProSleek li.sigProThumb a.sigProLink,
ul.sigProSleek li.sigProThumb a.sigProLink:hover { position:relative; display:block; background:#000; padding:0; margin:0 auto; }
ul.sigProSleek li.sigProThumb a.sigProLink { color:#fff; border:6px solid #222; }
ul.sigProSleek li.sigProThumb a.sigProLink:hover { color:#f60; text-decoration:none; border:6px solid #444; }
ul.sigProSleek li.sigProThumb a.sigProLink img.sigProImg { display:block; background-repeat:no-repeat; background-position:50% 50%; border:none; }

/* Caption */
ul.sigProSleek span.sigProPseudoCaption,
ul.sigProSleek span.sigProCaption { display:block; position:absolute; bottom:10%; left:10%; right:0; text-align:right; padding:2px 4px; font-family:"Trebuchet MS", Trebuchet, Arial, Verdana, sans-serif; font-size:11px; }
ul.sigProSleek span.sigProPseudoCaption { background:#000; opacity:0.7; -moz-opacity:0.7; }
ul.sigProSleek span.sigProPseudoCaption b { visibility:hidden; }

/* Popup */
span.sigProPopupCaption { font-weight:bold; color:#C63C13; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; }
a.sigProDownloadLink,
a.sigProDownloadLink:hover { background:url(../images/disk.png) no-repeat left center; padding:4px 0 4px 20px; }
div.sigProModulePosition { text-align:center; border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:4px; margin:8px 0; background:#ffffdd; }

/* IE specific styling: Use "body.sigProIsIEX element {}" - where X is 6, 7 or 8 - to target elements for these browser versions only */
body.sigProIsIE6 { }
body.sigProIsIE6 ul.sigProSleek li.sigProThumb a.sigProLink,
body.sigProIsIE6 ul.sigProSleek li.sigProThumb a.sigProLink:hover { float:left; }
body.sigProIsIE6 ul.sigProSleek span.sigProPseudoCaption,
body.sigProIsIE6 ul.sigProSleek span.sigProCaption { display:block; position:absolute; bottom:10%; left:auto; right:0; width:78%; text-align:right; padding:2px 4px; font-family:"Trebuchet MS", Trebuchet, Arial, Verdana, sans-serif; font-size:11px; cursor:pointer; }

body.sigProIsIE7 { }
body.sigProIsIE7 ul.sigProSleek li.sigProThumb a.sigProLink,
body.sigProIsIE7 ul.sigProSleek li.sigProThumb a.sigProLink:hover { float:left; }

body.sigProIsIE6 ul.sigProSleek span.sigProPseudoCaption,
body.sigProIsIE7 ul.sigProSleek span.sigProPseudoCaption,
body.sigProIsIE8 ul.sigProSleek span.sigProPseudoCaption { filter:alpha(opacity=70); }

/* Flickr Set link */
a.sigProFlickrSetLink {display:block;clear:left;padding:2px 8px;font-size:10px;text-align:center;}

/* Print message */
.sigProPrintMessage {display:none;}
